@{
    ViewBag.Title = "Confirm Email";
    Layout = null;
}
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Simple Cure Register</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link href="~/distribution/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/distribution/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <link href="~/distribution/css/fontastic.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
    <link href="~/distribution/css/grasp_mobile_progress_circle-1.0.0.min.css" rel="stylesheet" />
    <link href="~/distribution/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.css" rel="stylesheet" />
    <link href="~/distribution/css/style.default.css" rel="stylesheet" />
    <link id="new-stylesheet" rel="stylesheet">
    <link href="~/distribution/css/custom.css" rel="stylesheet" />
    <!-- Tweaks for older IEs-->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
</head>
<body>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 p-0">
                <div class="min-vh-100 text-center m-0 d-flex flex-column justify-content-center">
                    <div class="page login-page">
                        <div class="container">
                            <div class="form-outer text-center align-items-center">
                                <div class="form-inner">
                                    <div class="logo text-uppercase"><span>Simple</span><strong class="text-primary">Cure</strong></div>
                                    <p> </p>
                                    <div class="text-center">
                                        <p>                                           
                                            Thank you for confirming your email. Please @Html.ActionLink("Click here to Log in", "Login", "Account", routeValues: null, htmlAttributes: new { @class="bnt btn-outline-primary", id = "loginLink" })
                                        </p>
                                    </div>
                                </div>
                                <div class="copyrights text-center">
                                    <p>Simple Cure &copy; 2019</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/distribution/vendor/jquery/jquery.min.js"></script>
    <script src="~/distribution/vendor/popper.js/umd/popper.min.js"></script>
    <script src="~/distribution/vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="~/distribution/js/grasp_mobile_progress_circle-1.0.0.min.js"></script>
    <script src="~/distribution/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="~/distribution/vendor/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/distribution/vendor/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/distribution/js/front.js"></script>
    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</body>
</html>
