@{
    ViewBag.Title = "Home Page";
}

@if (User.IsInRole("Employee") || User.IsInRole("Owner") || User.IsInRole("WebAdmin"))
{
    <section class="dashboard-counts section-padding">
        <div class="container-fluid">
            <div class="row">
                <!-- Count item widget-->
                <div class="col-xl-4 col-md-4 col-6">
                    <div class="wrapper count-title d-flex">
                        <div class="icon"><i class="fa fa-file" aria-hidden="true"></i></div>
                        <div class="name">
                            <strong class="text-uppercase">New Orders</strong><span>Last 7 days</span>
                            <div class="count-number">342</div>
                        </div>
                    </div>
                </div>
                <!-- Count item widget-->
                <div class="col-xl-4 col-md-4 col-6">
                    <div class="wrapper count-title d-flex">
                        <div class="icon"><i class="fa fa-file" aria-hidden="true"></i></div>
                        <div class="name">
                            <strong class="text-uppercase">Orders Pending</strong><span>Last 7 days</span>
                            <div class="count-number">400</div>
                        </div>
                    </div>
                </div>
                <!-- Count item widget-->
                <div class="col-xl-4 col-md-4 col-6">
                    <div class="wrapper count-title d-flex">
                        <div class="icon"><i class="fa fa-file" aria-hidden="true"></i></div>
                        <div class="name">
                            <strong class="text-uppercase">Orders Completed</strong><span>Last 7 days</span>
                            <div class="count-number">25</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="statistics">
        <div class="container-fluid">
            <div class="row d-flex">
                <div class="col-lg-4">
                    <!-- Income-->
                    <div class="card income text-center">
                        <div class="col-md-12">
                            @using (Html.BeginForm("Orders", "Order"))
                            {

                                <div class="input-group">
                                    @Html.TextBox("SearchTerm", null, new { @class = "form-control input-lg", @placeholder = "Search Pending Orders" })
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-primary" type="submit">Search</button>
                                    </div>
                                </div>

                            }
                        </div>
                    </div>
                </div>
            </div>
        
        </div>

    </section>
}
@if (!User.IsInRole("Employee") && !User.IsInRole("Owner") && !User.IsInRole("WebAdmin") && User.IsInRole("Customer"))
{
    <section class="dashboard-counts section-padding">
        <div class="container-fluid">
            <div class="row">
                <!-- Count item widget-->
                <div class="col-xl-4 col-md-4 col-6">
                    <div class="wrapper count-title d-flex">
                        <div class="icon"><i class="fa fa-file" aria-hidden="true"></i></div>
                        <div class="name">
                            <strong class="text-uppercase">Your New Orders</strong><span>Last 7 days</span>
                            <div class="count-number">342</div>
                        </div>
                    </div>
                </div>
                <!-- Count item widget-->
                <div class="col-xl-4 col-md-4 col-6">
                    <div class="wrapper count-title d-flex">
                        <div class="icon"><i class="fa fa-file" aria-hidden="true"></i></div>
                        <div class="name">
                            <strong class="text-uppercase">Your Pending Orders</strong><span>Last 7 days</span>
                            <div class="count-number">400</div>
                        </div>
                    </div>
                </div>
                <!-- Count item widget-->
                <div class="col-xl-4 col-md-4 col-6">
                    <div class="wrapper count-title d-flex">
                        <div class="icon"><i class="fa fa-file" aria-hidden="true"></i></div>
                        <div class="name">
                            <strong class="text-uppercase">Your Completed Orders</strong><span>Last 7 days</span>
                            <div class="count-number">25</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <p>
        Customer Specific stuff here
    </p>
}

@if (!User.IsInRole("Employee") && !User.IsInRole("Owner") && !User.IsInRole("WebAdmin") && !User.IsInRole("Customer"))
{
    <p>Please call Simple Cure to set up your account.</p>
}